Operators
---------------

===>>> Special Symbols

===>>> which are used for to do the operations on daata ( operands )

In [1]:
a    =   123

b    =   256


c    =   a  +  b


print  c

379

Types Of Operators
----------------------------

===>>> There are 6 types Operators 

1. Arithmetic Operators

2. Relational Operators

3. Logical Operators

4. Bitwise Operators

5. Assignment Operators

6. Special Operators

In [2]:
# Arithmetic Operators

'''
===>> To do some kind of mathematical Operations
1. addition       +
2. substraction    -
3. Multiplication  *
4. Modules         % ---> reminder 
5. Division        /
'''
a = 123
b = 4
print a+b
print a - b
print a * b
print a %b
print a / b

127
119
492
3
30

In [3]:
# exponant    **  --->> power
# floor division // -->> coefficent
print 10  ** 3  # 1000
print 2  **  5  # 32

1000
32

In [4]:
a = 123
b = 4
print a / b
print a // b

30
30

In [5]:
a = 123.0
b = 4.0
print a / b
print a // b

30.75
30.0

In [6]:
# relational operators
'''
===>> to do comparision on data ( same datatype)

1. lessthan    <
2. greaterthan >
3. equal too   ==
4. not equal   !=
5. lessthan or equal   <=
6. greaterthan or equak  >=
'''
print 123 < 120
print  120 < 123

False
True

In [7]:
print 123 > 120
print  120 > 123

True
False

In [8]:
print  120 == 120
print  120 == 119

True
False

In [9]:
print    120 != 119
print    120  != 120

True
False

In [10]:
print  120  <= 120
print  120  <= 123
print  123  <= 120

True
True
False

In [11]:
print  120  >= 120
print  120  >= 123
print  123  >= 120

True
False
True

In [12]:
# Assignment Operator

var  = 123  # constant to variable
b    = var  # variable to variable
c    = b * var + 1220 # expresssio to variabl
print var
print b
print c

123
123
16349

In [13]:
# Compound assigment
a = 10
b = 20
print a
print b

a += b   #    a =  a+b # operation then update
print a
print b

10
20
30
20

In [14]:
# Compound assigment
a = 10
b = 20
print a
print b

a -= b   #    a =  a - b # operation then update
print a
print b

10
20
-10
20

In [ ]:
# apply all arithmetic operators with in the compound assignment

In [1]:
# Boolean data for each  datatype

# int            ---  +ve /-ve --> True ,   0---> False
# float         ---  +ve /-ve --> True ,   0.0---> False
# complex       ---> X+Yj( X,Y --> ( +ve/-ve))-> True ,  0+0j -> False
# None         -->>> False
# str,list,tuple,set ,dict --> len of it ( 0 ) -> False , o.w -> True 

# Logical Operator
'''
1. Logical NOT  ---->>>>> not ( keyword)

not  input  ---> ( True / False)


input ---> False  , result ---> True
input----> True , result -----> False
'''

print not False
print not True

True
False

In [2]:
print not -123
print not 908
print not 0

False
False
True

In [3]:
print   not "soc"
print not []

False
True

In [5]:
# Logical AND  --> and
'''
input1   and  input2 ---> input1 / input2

input1 --> False case --> result --> input1
input1 --> True case ---> result --> input2

'''
print  34 and  67 # 67
print  34 and []  # []
print [] and 34   # []
print {} and ()   # {}

67
[]
[]
{}

In [6]:
# Logical OR  --> or
'''
input1   or  input2 ---> input1 / input2

input1 --> False case --> result --> input2
input1 --> True case ---> result --> input1

'''
print  34 or  67 # 34
print  34 or []  # 34
print [] or 34   # 34
print {} or ()   # ()

34
34
34
()

In [8]:
print  [3,5] or  67 # [3,5]
print  34 or []  # 34
print [] or 34   # 34
print {1,4} or (1,2)   # ()

[3, 5]
34
34
set([1, 4])

In [9]:
# write WAP find the given year is leap ot not
year = input("enter year : ")
print (year%4 == 0) and (year% 100 !=0 or (year % 400 == 0))

enter year : 1900
False

In [10]:
# write WAP find the given year is leap ot not
year = input("enter year : ")
print (year%4 == 0) and (year% 100 !=0 or (year % 400 == 0))

enter year : 2000
True

In [11]:
# write WAP find the given year is leap ot not
year = input("enter year : ")
print (year%4 == 0) and (year% 100 !=0 or (year % 400 == 0))

enter year : 2004
True

In [12]:
# write WAP find the given year is leap ot not
year = input("enter year : ")
print (year%4 == 0) and (year% 100 !=0 or (year % 400 == 0))

enter year : 1993
False

In [13]:
# wap find given number is divissble by both 4 and 5

num = input("enter num : ")
print  num%4 == 0  and num %5 == 0

enter num : 15
False

In [14]:
# wap find given number is divissble by both 4 and 5

num = input("enter num : ")
print  num%4 == 0  and num %5 == 0

enter num : 20
True

In [1]:
# Special Operators
'''
--->> Identity Operator 
       ==>> To check the memory loc of two objects are same or not
       
       1. is
        
           True --->> memory is same
           False--->> memory is different
           
       2. is not
       
           False --->> memory is same
           True--->> memory is different      
'''
a = 10
b = 20
c = 10
print id(a)
print id(b)
print id(c)
print  a is b # False
print a is c # True

39486528
39486288
39486528
False
True

In [2]:
a = [10,20,30]
b = [10,20,30]
c = a
print id(a)
print id(b)
print id(c)
print  a is b # False
print a is c # True

68315528
68352712
68315528
False
True

In [3]:
a = 10
b = 20
c = 10
print id(a)
print id(b)
print id(c)
print  a is not b # True
print a is not c # False

39486528
39486288
39486528
True
False

In [5]:
# Membership Operators
'''
===>> To checking the a element is the member with in the  group of element 

    1. in 
    
        True ---> element is the member of group of elements
        False--> not a member 
    2. not in
    
        False ---> element is the member of group of elements
        True--> not a member 
'''
a = 10
b = [89,23,45,100]
c = 23
print a in b # False
print c in b # True
print a not in b # True
print c not in b # False

False
True
True
False

In [6]:
#bitwise operators
'''
==>> which are operating on binary data on given input data

1. Procedure
    1. step :  input  --->> Binary input data
    2. step :  do the operation on binary data input  --->> result is binary
    3. step : binary result --->>> decimal result
'''

# bit wise  and    &
'''
0  0 ---> 0
0  1 ---> 0
1  0 ---> 0
1  1 ---> 1
'''
print 10 & 13

8

In [7]:
print 23 & 14

6

In [9]:
print 52 & 38

36

In [1]:
# bitwise OR   |
'''
0  0 ---->  0
0  1 ---->  1
1  0 --->   1
1  1 --->   1
'''

print 13 | 18

31

In [2]:
print  43  | 27

59

In [3]:
# Bitwise  XOR   ^
'''
0   0   ---->  0 
0   1   ---->  1
1   0   ---->  1
1   1   ---->  0
'''
print 13 ^ 18
print  43 ^ 27

31
48

In [5]:
# lefshift  <<
'''
num  << no_bit

==>> num --->> binary
==>> adding no_bits of zeros at right side
==>> binary result --->>> decimal
'''
print 13 << 4
print 21  << 3

208
168

In [6]:
# right shift  >>
'''
num  >> no_bit

==>> num --->> binary
==>> removing no_bits of from right side
==>> binary result --->>> decimal
'''
print 13 >> 2
print 21  >> 2

3
5

In [8]:
# Bitwise NOT   ~
'''
~ num  ---->  -( num + 1) --> -num -1
~(-num) ---> -(-num +1) --->  num - 1
'''
print ~ 17  #  -17 -1 ===>> -18
print  ~  -45  #   45 -1 ===>> 44

-18
44